Brlapi==0.8.3
GitPython==3.1.43
Jinja2==3.1.4
Jinja2==3.1.4
Mako==1.1.3
MarkupSafe==2.0.1
Pillow==9.0.1
PyGObject==3.42.1
PyJWT==2.3.0
PyNaCl==1.5.0
PyYAML==5.4.1
SecretStorage==3.3.1
apturl==0.5.2
bcrypt==3.2.0
blinker==1.4
certifi==2020.6.20
chardet==4.0.0
click==8.0.3
colorama==0.4.4
command-not-found==0.3
contourpy==1.3.0
cryptography==3.4.8
cupshelpers==1.0
cycler==0.12.1
dbus-python==1.2.18
defer==1.0.6
distro-info==1.1+ubuntu0.2
distro==1.7.0
docker-pycreds==0.4.0
duplicity==0.8.21
fasteners==0.14.1
filelock==3.15.4
filelock==3.16.0
fonttools==4.53.1
fsspec==2024.6.1
fsspec==2024.9.0
future==0.18.2
gitdb==4.0.11
httplib2==0.20.2
idna==3.3
importlib-metadata==4.6.4
jeepney==0.7.1
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
keyring==23.5.0
kiwisolver==1.4.5
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lockfile==0.12.2
louis==3.20.0
macaroonbakery==1.3.1
matplotlib==3.9.2
monotonic==1.6
more-itertools==8.10.0
mpmath==1.3.0
mpmath==1.3.0
netifaces==0.11.0
networkx==3.3
networkx==3.3
numpy==2.1.0
nvidia-cublas-cu12==12.1.3.1
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.6.68
nvidia-nvjitlink-cu12==12.6.68
nvidia-nvtx-cu12==12.1.105
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.0
olefile==0.46
opencv-python==4.10.0.84
packaging==24.1
paramiko==2.9.3
pexpect==4.8.0
pip==22.0.2
platformdirs==4.2.2
protobuf==3.12.4
protobuf==5.28.0
protonets==0.0.1
protonets==0.0.1
psutil==6.0.0
ptyprocess==0.7.0
pyRFC3339==1.1
pycairo==1.20.1
pycups==2.0.1
pymacaroons==0.13.0
pynvml==11.5.3
pyparsing==2.4.7
python-apt==2.4.0+ubuntu3
python-dateutil==2.8.1
python-debian==0.1.43+ubuntu1.1
pytz==2022.1
pyxdg==0.27
reportlab==3.6.8
requests==2.25.1
scikit-learn==1.5.1
scipy==1.14.1
sentry-sdk==2.13.0
setproctitle==1.3.3
setuptools==59.6.0
six==1.16.0
smmap==5.0.1
sympy==1.13.2
sympy==1.13.2
systemd-python==234
threadpoolctl==3.5.0
torch==2.4.0
torch==2.4.1
torchnet==0.0.4
torchvision==0.19.0
tornado==6.4.1
tqdm==4.66.5
tqdm==4.66.5
triton==3.0.0
triton==3.0.0
typing_extensions==4.12.2
typing_extensions==4.12.2
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
urllib3==1.26.5
urllib3==2.2.2
usb-creator==0.3.7
visdom==0.2.4
wadllib==1.3.6
wandb==0.17.8
websocket-client==1.8.0
wheel==0.37.1
xdg==5
xkit==0.0.0
zipp==1.0.0